<body>
    <hr>
    <hr>
    <hr>
    <div class="pagoform">
<form action="#" class="credit-card-div">
    <div class="panel panel-default" >
     <div class="panel-heading">
         
          <div class="row ">
                  <div class="col-md-12">
                      <input type="text" class="form-control" placeholder="Ingrese numero de tarjeta" />
                  </div>
              </div>
         <div class="row ">
                  <div class="col-md-3 col-sm-3 col-xs-3">
                      <span class="help-block text-muted small-font" > Mes de vencimiento</span>
                      <input type="text" class="form-control" placeholder="MM" />
                  </div>
             <div class="col-md-3 col-sm-3 col-xs-3">
                      <span class="help-block text-muted small-font" >  Año vencimiento</span>
                      <input type="text" class="form-control" placeholder="YY" />
                  </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                      <span class="help-block text-muted small-font" >  CCV</span>
                      <input type="text" class="form-control" placeholder="CCV" />
                  </div>
             <div class="col-md-3 col-sm-3 col-xs-3">
    
             </div>
              </div>
         <div class="row ">
                  <div class="col-md-12 pad-adjust">
    
                      <input type="text" class="form-control" placeholder="Nombre en la tarjeta" />
                  </div>
              </div>
         <div class="row">
    <div class="col-md-12 pad-adjust">
        <div class="checkbox">
        <label>
          <input type="checkbox" checked class="text-muted"> Salvar forma de pago para futuras compras <a href="#"> </a>
        </label>
      </div>
    </div>
         </div>
           <div class="row ">
                <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                     <input type="submit"  class="btn btn-danger" routerLink="/cart" value="CANCELAR" />
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                      <input type="submit"  class="btn btn-warning btn-block" routerLink="/order" value="PAGAR AHORA" />
                  </div>
              </div>
              <img src="assets/imagenes/mp1.png" class="img-rounded" />
                       </div>
                  </div>
    </form>
    </div>
</body>
