<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark col-12 px-5 mb-5 fixed-top">
      <img src="/assets/imagenes/png3.png">
    
        <div class="container-fluid">
    
        <a class="navbar-brand" href="home#top">AbogadoYa</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto" style="flex-grow: 1;">
            <li class="nav-item">
                <a class="nav-link" routerLink="shop">Tienda</a>
            </li>
            <li *ngIf="!isTokenThere" class="nav-item" >
              <a class="nav-link" routerLink="register">Registrate</a>
            </li>
            <li *ngIf="!isTokenThere" class="nav-item">
                <a class="nav-link" routerLink="login">Ingresa</a>
            </li>
            <li *ngIf="isTokenThere" class="nav-item">
                <a class="nav-link" routerLink="account">Tu cuenta</a>
            </li>
            <li *ngIf="isTokenThere" class="nav-item">
                <a class="nav-link" routerLink="cart">Carrito</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/home#nosotros">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/home#services">Servicios</a>
          </li>
          <li class="nav-item">
           <a class="nav-link" href="/home#contact">Contacto</a>
          </li>
          </ul>
    

          <form class="form-inline my-2 my-lg-0 d-flex" (submit)="search()">
            <input 
                class="form-control mr-sm-2 bg-transparent text-success" 
                type="search" 
                placeholder="Buscar servicios" 
                aria-label="Search"
                [(ngModel)]="term"
                name="term"            >
            <button class="btn btn-outline-success my-2 my-sm-0 mx-3" type="submit">Buscar</button>
          </form>
        </div>
      </div>
      </nav>
     </body>
     
      
    <router-outlet></router-outlet>
    
    <app-footer></app-footer>
